<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">


      <h3 class="bg-primary text-white p3">
        [User] To Do List
      </h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="btnAdd" placeholder="Description...">
        <button class="btn btn-outline-primary" type="button" id="btnAdd">Add</button>
      </div>

      <table class="table table table-striped table-bordered">
        <thead>
          <tr>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kahvaltı</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Spor</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Fatura</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Sinema</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>