<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">


      <h3 class="bg-primary text-white p3">
        [{{getName()}}] To Do List
      </h3>

      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="btnAdd" placeholder="Description...">
        <button class="btn btn-outline-primary" type="button" id="btnAdd">Add</button>
      </div>

      <table class="table table table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItemList(); let i=index">
            <td>{{i+1}}</td>
            <td>{{item.description}}</td>
            <td [ngSwitch]="item.action">
              <span *ngSwitchCase="true">Tamamlandı</span>
              <span *ngSwitchCase="false">Bekliyor</span>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>